@model IEnumerable<Prog3Final.Cargo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2 class="title text-center">Cargos</h2>
    <br />
    <br />
    <button class="btn btn-outline-success">@Html.ActionLink("Create New", "Create")</button>
    <br />
    <br />
    <br />
    <table class="table table-bordered">
        <tr class="btn-primary">

            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="table table-active">
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |

                </td>
            </tr>
        }
    </table>

</div>