@model IEnumerable<Prog3Final.Vacacione>

@{
    ViewBag.Title = "Index";
}
<br />
<h2 class="card-title text-center" style="color:whitesmoke">Listado de Vacaciones </h2>

 <br />
<table class="table table-bordered">
    <tr  class="btn-warning">
        <th>
            @Html.DisplayNameFor(model => model.Desde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hasta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Año)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentarios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Codigo)
        </th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td class="text-danger">No se han registrado vacaciones</td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr class="table-active" style="color:white">
                <td>
                    @Html.DisplayFor(modelItem => item.Desde)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hasta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Año)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentarios)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empleado.Codigo)
                </td>

            </tr>
        }
    }
    </table>
