@model Prog3Final.Licencia

@{
    ViewBag.Title = "Crear licencias";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-group">
        <br />
        <h2 style="color:ghostwhite">Crear Licencias</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IdEmpleado, "Lista de empleados", htmlAttributes: new { @class = "control-label col-md-2", style = "color:ghostwhite" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdEmpleado, (SelectList)ViewBag.PersonList, new { @class = "btn btn-info dropdown-toggle" })
                @Html.ValidationMessageFor(model => model.IdEmpleado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Desde, htmlAttributes: new { @class = "control-label col-md-2", style = "color:ghostwhite" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Desde, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Desde, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hasta, htmlAttributes: new { @class = "control-label col-md-2", style = "color:ghostwhite" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hasta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hasta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Motivo, htmlAttributes: new { @class = "control-label col-md-2", style = "color:ghostwhite" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Motivo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Motivo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comentarios, htmlAttributes: new { @class = "control-label col-md-2", style = "color:ghostwhite" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comentarios, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
                @Html.ValidationMessageFor(model => model.Comentarios, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-outline-warning" />
            </div>
        </div>
    </div>
}
